@import 'variables';
@import 'mixin';

#footer {
  @include display();
  flex-direction: column;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 10px;
  padding: 10px;
  gap: 10px;
  background-color: $colorPrimero;

  .footer-mailto {
    @include display();
    padding: 20px 10px;
    margin: 10px auto;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: $colorSegundo;
    box-shadow: 0px 0px 10px 0px $colorSegundo;

    h2{
      font-size: 1.5rem;
      width: 30%;
    }

    p {
      width: 40%;
      font-size: 1.2rem;
      margin: 10px;
    }

    a {
      text-decoration: none;
      transition: all 0.5s linear;
      width: 30%;
      font-size: 1.2rem;
      padding: 5px 10px;
      border-radius: 50px;
      border: 1px solid #fff;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: $colorSegundo;
      }
    }
  }

  .footer-info {
    p {
      font-size: 1.2rem;
      color: #fff;
    }

    p:nth-child(1) {
      text-decoration: underline;
      font-size: 1.5rem;
    }

    ul {
      @include display();
      list-style: none;
      gap: 8px;
      margin: 8px;

      li {
        a {
          transition: all 0.5s linear;
          font-size: 1.2rem;
          color: #fff;

          &:hover {
            color: $colorTercero;
          }
        }
      }
    }
  }
}
