@import 'variables';
@import 'mixin';

#header {
  @include display();
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px $colorPrimero;

  .usuario {
    @include display();
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 10px;

    button {
      font-size: 1.2rem;
      border: none;
      background-color: transparent;
    }

    #divOpcionesImg {
      @include display();

      img {
        width: 40px;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .navbar {
    padding: 10px;
    margin: 10px;

    .container-fluid {
      .navbar-brand {
        @include display();
        img {
          width: 40px;
        }

        span {
          font-size: 1.2rem;
          margin-left: 8px;
        }
      }
    }
  }
}
