@import 'variables';
@import 'mixin';

#header {
  @include display();
  padding: 5px;

  .navbar {
    padding: 5px;
    border-radius: 20px;
    background-color: $colorTercero;
    box-shadow: 0px 0px 10px 0px $colorSegundo;

    .container-fluid {
      border-radius: 20px;
      background-color: $colorCuarto;
      box-shadow: 0px 0px 10px 0px $colorQuinto;

      .navbar-brand {
        padding: 5px;
        margin: 20px auto;
        border-radius: 20px;
        border: 1px solid #aaa;
        background-color: $colorCuarto;
        box-shadow: 0px 0px 10px 0px $colorQuinto;

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
