@import 'variables';
@import 'mixin';

.main-inicio {
  @include display();
  text-align: center;
  width: 70%;
  padding: 10px;
  margin: 10px auto;

  button {
    transition: all 0.5s linear;
    padding: 10px;
    font-size: 1.5rem;

    i {
      margin-left: 10px;
    }
  }

  button:hover {
    transform: scale(1.1);
  }

  #btnAgregar {
    color: $colorPrimero;
    border: 1px solid $colorPrimero;

    &:hover {
      background-color: $colorPrimero;
      color: #fff;
    }
  }

  #btnVer {
    color: $colorTercero;
    border: 1px solid $colorTercero;

    &:hover {
      background-color: $colorTercero;
      color: #fff;
    }
  }
}
