@import 'header';
@import 'inicio';
@import 'footer';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-agregar,
.main-ver {
  display: none;
  height: 100vh;
  background-color: $colorQuinto;
  margin: 10px;
  padding: 10px;
}
