@import 'variables';
@import 'mixin';

.main-ver {
  @include display();
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 10px auto;

  p {
    font-size: 1.8rem;
  }

  form {
    display: flex;
    width: 20%;
    margin: 10px auto;

    input {
      padding: 5px 10px;
      font-size: 1.5rem;
      border: 1px solid $colorSegundo;

      &:focus {
        box-shadow: none;
      }
    }

    button {
      padding: 5px 10px;
      font-size: 1.5rem;
      border: 1px solid $colorSegundo;
      background-color: $colorSegundo;
      color: #fff;

      &:hover {
        background-color: transparent;
        border: 1px solid $colorSegundo;
        color: $colorSegundo;
      }
    }
  }

  table {
    width: 80%;
    margin: 0 auto;

    thead {
      tr {
        th {
          font-size: 1.5rem;
          background-color: $colorSegundo;
          color: #fff;
        }
      }
    }

    tbody {
      tr {
        td {
          font-size: 1.5rem;
          border-bottom: 1px solid $colorSegundo;
        }
      }
    }
  }
}
